.dropdown {
  position: relative;
}

.button {
  background-color: inherit;
  border: none;
  font: inherit;
}

.button { background-color: inherit; border: none; font: inherit; }

.content {
  position: absolute;
  min-width: 100%;
  z-index: 1;
}
